<!-- Award & Achievements -->
<div class="r mb-5 d-flex flex-column justify-content-center" id="achievements">
    <p class="h2 mb-3">Achievements &amp;<br>Contributions</p>
    {% for i in combined_achievements %}
    <div class="mb-3">
        <!-- Displaying associated experiences dates -->
        {% for exp in i.experiences %}
        <p class="ldt fs-5 mb-1">
            {{ exp.start_date|date:"Y" }} - 
            {% if exp.present %}
                Present
            {% else %}
                {{ exp.end_date|date:"Y" }}
            {% endif %}
        </p>
        {% endfor %}
        <p class="fs-6">{{ i.achievement.details }}</p>
    </div>
    {% endfor %}
</div>
