<!-- Education -->
<div class="mb-3 d-flex flex-column justify-content-center" id="education">
    <p class="h2">Education</p>
    <ul class="list-unstyled">
        {% for e in education %}
        <div class="mb-3">
            <li class="ldt fs-6">
                {{ e.year|date:"Y" }}
            </li>
            <li class="company fs-5">{{ e.degree }} {{ e.major}}</li>
            <li class="ldt fs-6">{{ e.school }}</li>
            </li>
        </div>
        {% endfor %}
    </ul>
</div>