<!-- Work Experience -->
<div class="mb-3 d-flex flex-column justify-content-center" id="experience">
    <p class="h2">Experience</p>
    <ul class="list-unstyled">
        {% for e in experience %}
        <div class="mb-3">
            <li class="ldt fs-6">
                {{ e.start_date|date:"Y" }} - 
                {% if e.present %}
                    Present
                {% else %}
                    {{ e.end_date|date:"Y" }}
                {% endif %}
            </li>
            <li class="company fs-6">{{ e.job_title }}</li>
            <li class="ldt fs-6">{{ e.company.name }}</li>
            </li>
        </div>
        {% endfor %}
    </ul>
</div>