<!-- Introduction -->
<div class="mb-5 py-ex-1x pt-1x d-flex flex-column justify-content-center col-lg-12" id="summary">
    {% if s.image.url %}
        <p class="ldt fs-4">{{ s.desired_job }}</p>
        <div class="d-flex flex-row align-items-center mb-3">
            <div class="col-md-2">
                <img src="{{ s.image.url }}" alt="Avatar" class="rounded-circle img-fluid m-3">
            </div>
        </div>
    {% else %}
        <div class="col-md-10 mb-0">
            <h1 class="text-uppercase">{{ s.first_name }} {{ s.last_name }}</h1>
            <p class="ldt fs-4 mb-2">{{ s.desired_job }}</p>
        </div>
    {% endif %}
    <p class="fs-6">{{ s.objective }}</p>
</div>
