<!-- Award & Achievements -->
<div class="mb-5 py-1x ps-lg-3x d-flex flex-column justify-content-center col-lg-9" id="achievements">
    <p class="h1 mb-5">Achievements &amp;<br>Contributions</p>
    {% for i in combined_achievements %}
    <div class="mb-3">
        <!-- Displaying associated experiences dates -->
        {% for exp in i.experiences %}
        <p class="ldt fs-4">
            {{ exp.start_date|date:"Y" }} - 
            {% if exp.present %}
                Present
            {% else %}
                {{ exp.end_date|date:"Y" }}
            {% endif %}
        </p>
        {% endfor %}
        <p class="fs-5">{{ i.achievement.details }}</p>
    </div>
    {% endfor %}
</div>
