<!-- Education -->
<div class="mb-5 py-1x ps-lg-3x d-flex flex-column justify-content-center" id="education">
    <p class="h1">Education</p>
    <ul class="list-unstyled">
        {% for e in education %}
        <div class="mb-3">
            <li class="ldt fs-5">
                {{ e.year|date:"Y" }}
            </li>
            <li class="company fs-4">{{ e.degree }} {{ e.major}}</li>
            <li class="ldt fs-5">{{ e.school }}</li>
            </li>
        </div>
        {% endfor %}
    </ul>
</div>