<!-- Introduction -->
<div class="mb-5 py-1x ps-lg-3x pt-1x d-flex flex-column justify-content-center col-lg-11" id="summary">
    {% if s.image.url %}
        <p class="ldt fs-md-1rem fs-lg-1rem">{{ s.desired_job }}</p>
        <div class="d-flex flex-row align-items-center mb-3">
            <div class="col-md-2">
                <img src="{{ s.image.url }}" alt="Avatar" class="rounded-circle img-fluid m-3">
            </div>
        </div>
    {% else %}
        <div class="col-md-10 mb-2">
            <h1 class="text-uppercase">{{ s.first_name }} {{ s.last_name }}</h1>
            <p class="ldt fs-md-1rem fs-lg-1rem">{{ s.desired_job }}</p>
        </div>
    {% endif %}
    <p class="fs-md-2rem fs-lg-2rem">{{ s.objective }}</p>
</div>
